.vscode/**
.vscode-test/**
src/**
template_project/**
node_modules/**
!node_modules/adm-zip/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
build.ps1
package-lock.json